.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.hero__content {
    padding: 10px;


    @media (max-width: 700px) {
        padding: 0px;
    }
}

.hero__slider {
    position: relative;

    display: flex;
    overflow: hidden;

    width: 100%;
    max-width: 1120px;
    max-height: 536px;

    @media (max-width: 1150px) {
        max-width: 1000px;
    }

    @media (max-width: 1100px) {
        max-width: 900px;
    }

    @media (max-width: 1000px) {
        max-width: 800px;
    }

    @media (max-width: 900px) {
        max-width: 700px;
    }

    @media (max-width: 750px) {
        max-width: 600px;
    }

    @media (max-width: 650px) {
        max-width: 500px;
    }

    @media (max-width: 520px) {
        max-width: 450px;
    }

    @media (max-width: 460px) {
        max-width: 390px;
    }

    @media (max-width: 400px) {
        width: 370px;
    }

    @media (max-width: 380px) {
        width: 330px;
    }

    @media (max-width: 340px) {
        width: 300px;
    }

    @media (max-width: 310px) {
        width: 275px;
    }
}


.hero__slider_img {
    width: 100%;
    height: 98%;

    @media (max-width: 460px) {
        object-fit: cover;
    }

    @media (max-width: 400px) {
        height: 240px;
    }

    @media (max-width: 380px) {
        height: 210px;
    }

    @media (max-width: 340px) {
        height: 180px;
    }

    @media (max-width: 310px) {
        height: 170px;
    }
}

.hero__content_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0 40px;

    @media (max-width: 750px) {
        flex-direction: column;
        margin: 22px 0 30px;
    }

    @media (max-width: 450px) {
        flex-direction: column;
        margin: 12px 0 20px;
    }
}

.hero__content_title h1 {
    color: #141718;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: -2px;

    @media (max-width: 1100px) {
        font-size: 48px;
    }

    @media (max-width: 450px) {
        font-size: 45px;
    }

    @media (max-width: 340px) {
        font-size: 40px;
    }

    @media (max-width: 285px) {
        font-size: 38px;
    }
}

.hero__content_title h1 span {
    color: #6C7275;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: -2px;

    @media (max-width: 1100px) {
        font-size: 48px;
    }

    @media (max-width: 450px) {
        font-size: 38px;
    }
}



.hero__content_desc p {
    color: #6C7275;
    max-width: 400px;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    @media (max-width: 1100px) {
        font-size: 14px;
        max-width: 300px;
    }

    @media (max-width: 450px) {
        font-size: 12px;
    }
}

.hero__content_desc p span {
    color: #343839;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

    @media (max-width: 450px) {
        font-size: 12px;
    }
}